<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Callium - продажа дизайнерской мебели">
  <title>Дизайнерская мебель "Callium"</title>
  <link rel="preload" href="fonts/open-sans.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/playfair-display.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/playfair-display-bold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/swiper.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="page-header">
    <div class="page-header__wrapper container">
      <a href="#"><div class="page-header__logo">
        <img src="img/logo.svg" width="20" height="20" alt="Логотип Callium">
      </div></a>
      <nav class="site-nav site-nav--closed site-nav--no-js page-header__site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item"><a href="#">Мебель</a></li>
          <li class="site-nav__item"><a href="#">Освещение</a></li>
          <li class="site-nav__item"><a href="#">Текстиль</a></li>
        </ul>
        <button class="site-nav__button" type="button" aria-label="Показать/Скрыть меню"></button>
      </nav>
      <ul class="user-nav page-header__user-nav">
        <li class="user-nav__item user-nav__item--search">
          <a href="#" aria-label="Поиск по сайту"><span class="visually-hidden">Поиск по сайту</span></a>
        </li>
        <li class="user-nav__item user-nav__item--cart">
          <a href="#" aria-label="Корзина"><span class="visually-hidden">Корзина</span></a>
        </li>
      </ul>
    </div>
  </header>

  <main class="page-main">
    <h1>Дизайнерская мебель "Callium"</h1>
    <section class="main-screen container">
      <div class="swiper-container main-screen__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product product--slider">
              <div class="product__info">
                <h2>Дизайнерская мебель</h2>
                <h3>Кресло "Антиква"</h3>
                <p><span>$380</span>$240</p>
                <button class="product__button" type="button">Купить</button>
              </div>
              <div class="product__image">
                <img src="img/main-chair-desktop.jpg" srcset="img/main-chair-desktop@2x.jpg 2x" width="532" height="751" alt="Кресло Антиква">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product product--slider">
              <div class="product__info">
                <h2>Дизайнерская мебель</h2>
                <h3>Кресло "Антиква"</h3>
                <p><span>$380</span>$240</p>
                <button class="product__button" type="button">Купить</button>
              </div>
              <div class="product__image">
                <img src="img/main-chair-desktop.jpg" srcset="img/main-chair-desktop@2x.jpg 2x" width="532" height="751" alt="Кресло Антиква">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product product--slider">
              <div class="product__info">
                <h2>Дизайнерская мебель</h2>
                <h3>Кресло "Антиква"</h3>
                <p><span>$380</span>$240</p>
                <button class="product__button" type="button">Купить</button>
              </div>
              <div class="product__image">
                <img src="img/main-chair-desktop.jpg" srcset="img/main-chair-desktop@2x.jpg 2x" width="532" height="751" alt="Кресло Антиква">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product product--slider">
              <div class="product__info">
                <h2>Дизайнерская мебель</h2>
                <h3>Кресло "Антиква"</h3>
                <p><span>$380</span>$240</p>
                <button class="product__button" type="button">Купить</button>
              </div>
              <div class="product__image">
                <img src="img/main-chair-desktop.jpg" srcset="img/main-chair-desktop@2x.jpg 2x" width="532" height="751" alt="Кресло Антиква">
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-scrollbar main-screen__slider-scrollbar"></div>
        <div class="swiper-pagination main-screen__slider-pagination"></div>
      </div>
    </section>
<!-- -----------------------------------------ВТОРОЙ БЛОК-------------------------------------------------------------- -->
<main class="second-main">
<section class="second-block">
  <div class="block left-s-b">
    <div class="l-s-b">
      <div class="blocks title-block ">
        <div><h2>НОВИНКИ</h2></div>
        <div class="dash_1"></div>
      </div>
      <div class="blocks hover-block">
        <img src="../template/img/chandelier-desktop.jpg" style="height: 198px;" alt="#">
        <div class="discription"><div class="titleCard">Люстра «Облако»</div>
        <div class="priceCard">$250</div></div>
        
      </div>
    </div>
    <div class="l-s-b">
      <div class="blocks hover-block">
        <img src="../template/img/chair-twilight-desktop.jpg" alt="#">
        <div class="discription"> <div class="titleCard">Стул «Смеркается»</div>
        <div class="priceCard">$280</div></div>

       
      </div>
      <div class="blocks hover-block">
        <img src="../template/img/table-cream-desktop.png" alt="#">
        <div class="discription"> <div class="titleCard">Стол «Крем брюле»</div>
        <div class="priceCard">$320</div></div>

       
      </div>
    </div>
   
  </div>
 

  <div class="block right-s-b">
    <img src="../template/img/chair-white-desktop.jpg" alt="#">
    <div class="discription_2"> <div class="titleCard">Стул офисный «Белый шоколад»</div>
    <div class="priceCard">$120</div></div>

   
  </div>

</section>
</main>
<!-- -----------------------------------------SLIDER-------------------------------------------------------------- -->
<main class="slider-main">
  <div class="slider-block">
<div class="all">
  <input checked type="radio" name="respond" id="desktop"> 
  <article id="slider">
    <input checked type="radio" name="slider" id="switch1"> 
    <input  type="radio" name="slider" id="switch2"> 
    <input  type="radio" name="slider" id="switch3"> 
    <input  type="radio" name="slider" id="switch4"> 
<div id="slides">
  <div id="overflow">
    <div class="image">
      <article><img src="../template/img/student.png" alt="#"></article>
      <article><img src="../template/img/student.png" alt="#"></article>
      <article><img src="../template/img/student.png" alt="#"></article>
      <article><img src="../template/img/student.png" alt="#"></article>
    </div>
  </div>
</div>
<div id="controls">
  <label for="switch1"></label>
  <label for="switch2"></label>
  <label for="switch3"></label>
  <label for="switch4"></label>
</div>
<div id="active">
  <label for="switch1"></label>
  <label for="switch2"></label>
  <label for="switch3"></label>
  <label for="switch4"></label>
</div>
  </article>
</div>
</div>
</main>
<!-- -----------------------------------------ТРЕТИЙ БЛОК-------------------------------------------------------------- -->

<main class="third-main">

  <section class="third-block">
    <div class="pink-block"></div>
    <div class="last-chance-title">
      <h2>ПОСЛЕДНИЙ ШАНС</h2>
      <div class="dash_2"></div>
    </div>
    <div class="last-chance-list">
      <a class="last-chance-a">Стулья</a>
      <a class="last-chance-a">Диваны</a>
      <a class="last-chance-a">Кресла</a>
    </div>
    <div class="last-chance-items">
      <div class="items">
        <div class="items-text">
          <div class="item-title">Стул «Карамель»</div>
          <div class="item-price">
            <div class="item-new-price">$195</div>
            <div class="item-old-price">$245</div>
          </div>
        </div>
        <img src="../template/img/chair-caramel-desktop.png" alt="#">
        <div class="item-button">КУПИТЬ</div>

      </div>
      <div class="items">
        <div class="items-text">
          <div class="item-title">Стул «Облако»</div>
          <div class="item-price">
            <div class="item-new-price">$200</div>
            <div class="item-old-price">$250</div>

          </div>
        </div>
        <img src="../template/img/chair-cloud-desktop.jpg" alt="#">
        <div class="item-button">КУПИТЬ</div>

      </div>
      <div class="items">
        <div class="items-text">
          <div class="item-title">Стул «Сова»</div>
          <div class="item-price">
            <div class="item-new-price">$240</div>
            <div class="item-old-price">$260</div>

          </div>
        </div>
        <img src="../template/img/chair-owl-desktop.png" alt="#">
        <div class="item-button">КУПИТЬ</div>

      </div>
      <div class="items">
        <div class="items-text">
          <div class="item-title">Стул «Мая»</div>
          <div class="item-price">
            <div class="item-new-price">$280</div>
            <div class="item-old-price">$330</div>

          </div>
        </div>
        <img src="../template/img/chair-maya-desktop.jpg" alt="#" />
        <div class="item-button">КУПИТЬ</div>

      </div>
      <div class="items">
        <div class="items-text">
          <div class="item-title">Стул «Месси»</div>
          <div class="item-price">
            <div class="item-new-price">$280</div>
            <div class="item-old-price">$305</div>

          </div>
        </div>
        <img src="../template/img/chair-messi-desktop.png" alt="#" />
        <div class="item-button">КУПИТЬ</div>

      </div>
    </div>
    </section>
</main>
<!-- ---------------------------------------------------------FOOTER------------------------------------------------------------ -->
<main class="footer-main">
  <section class="footer-block">
    <div class="footer-content">
      <div class="footer-left-content">
        <a href=""><div class="footer-logo"><img src="img/logo.svg" width="20"
          height="20" alt="Логотип Callium">
        </div></a>
        <div class="contacts">
          <div class="contact">
            <img src="../template/img/icon-phone.svg"  alt="#">
            <div class="text-call"><a href="#" style="color: black;">+7(495) 205-28-14</a> </div>
          </div>
          <div class="contact">
            <img src="../template/img/icon-mail.svg" height="19px" alt="#">
            <div class="text-call"><a href="#" style="color: black;">callium@gmail.com</a> </div>

          </div>
        </div>
      </div>
      <div class="footer-nav">
        <div class="site-nav__item site-nav__flex"><a href="#">Доставка</a></div>
        <div class="site-nav__item site-nav__flex"><a href="#">Оплата</a></div>
        <div class="site-nav__item site-nav__flex"><a href="#">Контакты</a></div>
        <div class="site-nav__item site-nav__flex"><a href="#">Гарантия</a></div>
      </div>
    </div>
 </section>
</main>



  <script src="js/vendor/swiper.js"></script>
  <script src="js/lib/slider-main.js"></script>
  
</body>

</html>
